.chat-minimized {
    height: 0;
    width: 0;
    transition: all 0.4s !important;
}

.chat-maximized {
    height: 0;
    width: 0;
    transition: all 0.3s;

    .chat-body {
        height: 90%;

        .convo-date {
            font-size: 0.8rem;
        }

        .convo-count {
            padding: 2px;
            font-size: 0.6rem;
        }

        .convo-message {
            max-width: 17rem;
            font-size: 0.9rem;

            .time {
                font-size: 0.7rem;
            }
        }

        .send-icon {
            margin-right: 20px;
            margin-bottom: 19px;
        }

        .chat-area-container {
            bottom: -2px !important;
        }

        .chat-area {
            font-size: 0.8rem;
        }
    }
}

.chat-maximized-open {
    height: 32rem !important;
    width: 35rem !important;
}

.chat-minimized-open {
    height: 2.5rem !important;
    width: 6rem !important;
}

.chat-close {
    height: 0 !important;
    width: 0 !important;
}
