.chat-maximized {
    height: 32rem;
    width: 35rem;

    .chat-body {
        height: 90%;

        .convo-date {
            font-size: 0.8rem;
        }

        .convo-count {
            padding: 2px;
            font-size: 0.6rem;
        }

        .convo-message {
            max-width: 17rem;
            font-size: 0.9rem;

            .time {
                font-size: 0.7rem;
            }
        }

        .send-icon {
            margin-right: 20px;
            margin-bottom: 19px;
        }

        .chat-area-container {
            bottom: -2px !important;
        }

        .chat-area {
            font-size: 0.8rem;
        }
    }
}
