.notificationIcon_text {
    display: block;
    font-size: 0.6rem;
    background: var(--bs-primary);
    padding: 5px;
    border-radius: 50%;
    height: 20px;
    width: 23px;
    position: absolute;
    top: -8px;
    right: 7px;
    color: white;
    text-align: center;
}
