.rc-pagination {
    &-item-active {
        background-color: var(--bs-tertiary) !important;
        color: white;
        border: 1px solid var(--bs-tertiary) !important;
    }

    &-item {
        min-width: 2rem !important;

        &:focus,
        &:hover {
            border-color: var(--bs-tertiary) !important;
            transition: all 0.3s;
            a {
                color: white !important;
                background-color: var(--bs-tertiary) !important;
            }
        }
    }
}
