.slide {
    position: absolute;
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    z-index: 2000;
    top: 0;
    left: 0;
    background: white;
    transition: all 0.3s;
    pointer-events: none;
}

.show-from-right-to-left {
    transform: translateX(0) !important;
    pointer-events: auto;
}

.hidden-from-left-to-right {
    transform: translateX(100%) !important;
    pointer-events: none;
}
