$theme-colors: map-merge(
    (
        "primary-light": $primary-light,
        "tertiary": $tertiary,
        "gray": $gray-400,
        "gray-dark": $gray-500,
        "gray-light": $gray-200
    ),
    $theme-colors
);

$h7-font-size: $font-size-base * 0.9;

$font-sizes: map-merge(
    (
        7: $h7-font-size
    ),
    $font-sizes
);
