$theme-colors: map-merge(
    (
        "tertiary": $tertiary
    ),
    $theme-colors
);

$h7-font-size: $font-size-base * 0.9;

$font-sizes: map-merge(
    (
        7: $h7-font-size
    ),
    $font-sizes
);
