$utilities: map-merge(
    $utilities,
    (
        'viewport-width': (
            property: width,
            class: vw,
            values: $position-values-vw
        ),
        'max-width': (
            property: max-width,
            class: mw,
            values: $position-values-percent
        ),
        'height': (
            property: height,
            class: h,
            values: $position-values-percent
        ),
        'width': (
            property: width,
            class: w,
            values: $position-values-percent
        ),
        'viewport-height': (
            property: height,
            class: vh,
            values: $position-values-vh
        ),
        'min-viewport-height': (
            property: min-height,
            class: min-vh,
            values: $position-values-vh
        ),
        'top': (
            property: top,
            values: $position-values-percent
        ),
        'bottom': (
            property: bottom,
            values: $position-values-percent
        ),
        'start': (
            property: left,
            class: start,
            values: $position-values-percent
        ),
        'end': (
            property: right,
            class: end,
            values: $position-values-percent
        )
    )
);

.small-text {
    font-size: 0.6rem !important;
}

.extra-small-text {
    font-size: 0.5rem !important;
}
