$utilities: map-merge(
    $utilities,
    (
        "viewport-width": (
            property: width,
            class: vw,
            values: $position-values-vw
        ),
        "max-width": (
            property: max-width,
            class: mw,
            values: $position-values-percent
        ),
        "height": (
            property: height,
            class: h,
            values: $position-values-percent
        ),
        "viewport-height": (
            property: height,
            class: vh,
            values: $position-values-vh
        ),
        "start": (
            property: left,
            class: start,
            values: $position-values-percent
        )
    )
);

.small-text {
    font-size: 0.6rem !important;
}

.extra-small-text {
    font-size: 0.5rem !important;
}
