$utilities: map-merge(
    $utilities,
    (
        "viewport-width": (
            property: width,
            class: vw,
            values: (
                10: 10vw,
                20: 20vw,
                30: 30vw,
                40: 40vw,
                50: 50vw,
                60: 60vw,
                70: 70vw,
                80: 80vw,
                90: 90vw,
                100: 100vw
            )
        ),
        "max-width": (
            property: max-width,
            class: mw,
            values: (
                65: 65%,
                100: 100%
            )
        )
    )
);

.small-text {
    font-size: 0.6rem !important;
}

.extra-small-text {
    font-size: 0.5rem !important;
}
