// Colors
$primary: #f1ac18;
$secondary: #f25b0a;
$tertiary: #79a33d;
$default-bg: #f5f5dc;

$theme-colors: map-merge(
    (
        "tertiary": $tertiary
    ),
    $theme-colors
);

$body-bg: $default-bg;

// Font
$font-family-base: "Sansation", sans-serif;
