// Colors
$primary: #f1ac18;
$secondary: #f25b0a;
$tertiary: #79a33d;
$default-bg: #f5f5dc;

// $utilities: map-merge(
//     (
//         "text-color":
//             map-merge(
//                 map-get($utilities, "text-color"),
//                 (
//                     "secondary": (
//                         property: color,
//                         class: text,
//                         values: (
//                             "secondary": $secondary
//                         )
//                     ),
//                     "tertiary": (
//                         property: color,
//                         class: text,
//                         values: (
//                             "tertiary": $tertiary
//                         )
//                     )
//                 )
//             )
//     ),
//     $utilities
// );

//  "text-color": (
//       property: color,
//       class: text,
//       values: (
//   "primary-emphasis": var(--#{$prefix}primary-text-emphasis),
//   "secondary-emphasis": var(--#{$prefix}secondary-text-emphasis),
//   "success-emphasis": var(--#{$prefix}success-text-emphasis),
//   "info-emphasis": var(--#{$prefix}info-text-emphasis),
//   "warning-emphasis": var(--#{$prefix}warning-text-emphasis),
//   "danger-emphasis": var(--#{$prefix}danger-text-emphasis),
//   "light-emphasis": var(--#{$prefix}light-text-emphasis),
//   "dark-emphasis": var(--#{$prefix}dark-text-emphasis)
// )
//     )

$body-bg: $default-bg;

// Font
$font-family-base: "Sansation", sans-serif;
