// Colors
$primary: #f1ac18;
$secondary: #f25b0a;
$tertiary: #79a33d;
$default-bg: #f5f5dc;

$body-bg: $default-bg;

// Font
$font-family-base: "Sansation", sans-serif;

// SPACES
$spacer: 1rem !default;
$spacers: (
    0: 0,
    1: $spacer * 0.25,
    2: $spacer * 0.5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
    6: $spacer * 4,
    7: $spacer * 6,
    8: $spacer * 8,
    9: $spacer * 12,
    10: $spacer * 16
) !default;
