// custom variables
@import "./abstract/variables";

// Configuration
@import "/node_modules/bootstrap/scss/functions";
@import "/node_modules/bootstrap/scss/variables";

// custom maps
@import "./abstract/maps";

@import "/node_modules/bootstrap/scss/maps";
@import "/node_modules/bootstrap/scss/utilities";
@import "/node_modules/bootstrap/scss/mixins";

// Layout & components
@import "/node_modules/bootstrap/scss/root";
@import "/node_modules/bootstrap/scss/reboot";
@import "/node_modules/bootstrap/scss/type";
@import "/node_modules/bootstrap/scss/containers";
@import "/node_modules/bootstrap/scss/grid";
@import "/node_modules/bootstrap/scss/buttons";

@import "/node_modules/bootstrap/scss/modal";
@import "/node_modules/bootstrap/scss/close";
@import "/node_modules/bootstrap/scss/nav";
@import "/node_modules/bootstrap/scss/navbar";

// helpers
@import "/node_modules/bootstrap/scss/helpers";

// utilities
@import "/node_modules/bootstrap/scss/utilities/api";

// @import "/node_modules/bootstrap/scss/bootstrap";
