// custom variables
@import "./abstract/variables";

// Configuration
@import "/node_modules/bootstrap/scss/functions";
@import "/node_modules/bootstrap/scss/variables";

// custom maps
@import "./abstract/maps";

@import "/node_modules/bootstrap/scss/maps";
@import "/node_modules/bootstrap/scss/utilities";

// custom utilities
@import "./abstract/utilities";
@import "/node_modules/bootstrap/scss/mixins";

// custom base
@import "./base//reset";

// Layout & components
@import "/node_modules/bootstrap/scss/root";
@import "/node_modules/bootstrap/scss/reboot";
@import "/node_modules/bootstrap/scss/type";
@import "/node_modules/bootstrap/scss/containers";
@import "/node_modules/bootstrap/scss/grid";
@import "/node_modules/bootstrap/scss/buttons";
@import "/node_modules/bootstrap/scss/button-group";
@import "/node_modules/bootstrap/scss/card";
@import "/node_modules/bootstrap/scss/forms";
@import "/node_modules/bootstrap/scss/forms/labels";
@import "/node_modules/bootstrap/scss/forms/floating-labels";
@import "/node_modules/bootstrap/scss/forms/form-text";
@import "/node_modules/bootstrap/scss/forms/form-control";

@import "/node_modules/bootstrap/scss/modal";
@import "/node_modules/bootstrap/scss/close";
@import "/node_modules/bootstrap/scss/nav";
@import "/node_modules/bootstrap/scss/navbar";
@import "/node_modules/bootstrap/scss/dropdown";
@import "/node_modules/bootstrap/scss/list-group";
@import "/node_modules/bootstrap/scss/images";

// helpers
@import "/node_modules/bootstrap/scss/helpers";

// utilities
@import "/node_modules/bootstrap/scss/utilities/api";

// @import "/node_modules/bootstrap/scss/bootstrap";

// Pages
@import "./pages/auth.scss";

// Custom Components
@import "./components/header";
@import "./components/recipe";
@import "./components/pagination";
@import "./components/notification";
@import "./components/chat";
@import "./components/slide";
